<body>
<div ng-controller="profileController as p">
	<link rel="stylesheet" type="test/css" href="../../assets/account.css">
	<div class="header">
		<div id="username">
			<h1 style="color:white">{{p.userName}}</h1>
		</div>
		<!-- 150px by 150px profile picture-->
		<div id="profilepic">
			<img ng-src="{{p.genericProfileImage}}">
		</div>
		<div id="banner">
			<img ng-src="{{p.genericBannerImage}}">
		</div>
	</div>

	<div class="content">

		<div id="description">
			<p>{{p.desc}}</p>
		</div>

		<div ng-show="p.canBook" ng-switch on="p.hasBooths" id="sidebar">
			<div ng-switch-when="true">
				<table>
				<thead>
					<tr>
						<th>Booth</th>
						<th>Date</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="booth in p.activeBooths">
					<td>{{booth.title}}</td>
					<td>{{booth.boothType}}</td>
					<td>{{booth.timeSlot}}</td>
					</tr>
				</tbody>
				</table>
			</div>
			<div ng-switch-default> This user has no booths to show</div>
		</div>

</div>
</body>