<body>
<div ng-controller="profileController as p">
	<link rel="stylesheet" type="test/css" href="../../assets/account.css">

	<div class="header">
		<!-- 150px by 150px profile picture-->
		<div id="banner">
			<img ng-src="{{p.bannerImage}}">
			<div id="profilepic">
				<img ng-src="{{p.profileImage}}">
			</div>
		</div>
	</div>

	<div id="username">
		{{p.userName}}
	</div>

	<div ng-controller="uploadController" nv-file-drop="" uploader="avatarUploader">
		<input type="file" id="selectedAvatar" nv-file-select="false" uploader="avatarUploader" ngf-max-size='10000000' style="display: none;"/>
		<input type="button" value="Upload Avatar" onclick="document.getElementById('selectedAvatar').click();" />
	</div>

	<div ng-controller="uploadController" nv-file-drop="" uploader="bannerUploader">
		<input type="file" id="selectedBanner" nv-file-select="false" uploader="bannerUploader" ngf-max-size='10000000' style="display: none;"/>
		<input type="button" value="Upload Banner" onclick="document.getElementById('selectedBanner').click();" />
	</div>

	<div class="content">

		<div id="description">
			<p>{{p.desc}}</p>
		</div>

		<div ng-show="p.canBook" id="sidebar">
			<div ng-switch on="p.hasBooths">
				<div ng-switch-when="true">
					<table>
					<thead>
						<tr>
							<th>Booth</th>
							<th>Booth Type</th>
							<th>Time</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="booth in p.activeBooths">
						<td>{{booth.title}}</td>
						<td>{{booth.boothType}}</td>
						<td>{{booth.timeSlot}}</td>
						<td>{{booth.description}}</td>
						</tr>
					</tbody>
					</table>
				</div>
				<div ng-switch-default> This user has no booths to show</div>
			</div>
		</div>

</div>
</body>