<div ng-controller="AdminController as a">
  <h1>Admin Page</h1>
  <div class="adminVendorsList" ng-hide="a.pending.length == 0">
    <h2 class="adminTableHeader">List of pending vendors:</h2>

    <table class="adminTable">
    
      <tr ng-repeat="vendor in a.pending">
        <td class="adminNameCell" ng-if="vendor.state == ''">
          <h3 class="adminTableName">{{vendor.vendor.username}}</h3>
        </td>
	<td class="adminNameCell adminConfirmedCell" ng-if="vendor.state == 'confirm'">
          <h3 class="adminTableName">{{vendor.vendor.username}}</h3>
        </td>
        <td class="adminNameCell adminDeniedCell" ng-if="vendor.state == 'deny'">
          <h3 class="adminTableName">{{vendor.vendor.username}}</h3>
        </td>
        <td class="adminButtonCell" ng-if="vendor.state == ''">
          <button class="adminButton" ng-click="a.markConfirm(vendor.vendor.username);">Confirm</button>
        </td>
        <td class="adminDeniedCell adminButtonCell" ng-if="vendor.state == 'deny'">
          <h3 class="adminDeniedText">Denied</h3>
        </td>
        <td class="adminConfirmedCell adminButtonCell" ng-if="vendor.state == 'confirm'">
          <h3 class="adminConfirmedText">Confirmed</h3>
        </td>
        <td class="adminButtonCell">
          <button class="adminButton" ng-if="vendor.state == ''" ng-click="a.markDeny(vendor.vendor.username);">Deny</button>
          <button class="adminButton" ng-if="vendor.state != ''" ng-click="a.markCancel(vendor.vendor.username);">Cancel</button>
        </td>
      </tr>
    </table>

    <button class="adminSubmitButton" ng-click="a.submit();" ng-disabled="!a.hasChanges();">Submit Changes</button>

  </div>
  <div class="adminVendorsList" ng-show="a.pending.length == 0">
    <h2 class="adminTableHeader">No pending vendors found.</h2>
  </div>
</div>
