<div ng-controller="AdminController as a">
  <h1>Admin Page</h1>
  <h2>List of pending vendors:</h2>

  <table style="width: 80%">
    
      <tr ng-repeat="vendor in a.pending">
        <td width="70%">
          <h3>User: {{vendor.vendor.username}}</h3>
        </td>
        <td width="15%">
          <a href ng-if="vendor.state == ''" ng-click="a.markConfirm(vendor.username);">Confirm</a>
          <a href ng-if="vendor.state == 'deny'" ng-click="a.markCancel(vendor.username);">Cancel</a>
          <h3 style="text-color: #005500;" ng-if="vendor.state == 'confirm'">Confirmed</h3>
        </td>
        <td width="15%">
          <a href ng-click="a.markDeny(vendor.username);">No</a>
        </td>
      </tr>
  </table>

  <a href ng-click="a.submit();">Submit Changes</a>

</div>
