
<div class="login">
  <div class="field" >
    Enter your email here (to reply to):
  </div>
  <input id="email" type="text" name="email">
  <br>
  <div class="field" >
    Enter your issue (email subject):
  </div>
  <input id="subject" type="text" name="subject">
  <br>
  <br>
  <br>
  <br>
  <div class="field" >
    Explain in details
  </div>
  <textarea id="inputDetailsText" class="inputDetailsText" type="text" name="bodytext" />
  <br>
  <br>
  <a href="" ng-click="sendContact()">Send Email!</a>
</div>
