<div class="schedulePage" ng-controller="ScheduleController as s">
  <link rel="stylesheet" href="assets/schedule.css">

  <div class ="dayPicker">
    <h1> Schedule for {{s.date.toDateString()}} </h1>
    <fieldset>
      <button class="dayButton" ng-click="s.prevWeek()">&lt</button>
      <input type="radio" name="day" id="sunday" ng-click="s.changeDay(0)">
      <label class="dayButton"  for="sunday" class="dayLabel">Sunday</label>
      <input type="radio" name="day" id="monday" ng-click="s.changeDay(1)">
      <label class="dayButton" for="monday" class="dayLabel">Monday</label>
      <input type="radio" name="day" id="tuesday" ng-click="s.changeDay(2)">
      <label class="dayButton"  for="tuesday" class="dayLabel">Tuesday</label>
      <input type="radio" name="day" id="wednesday" ng-click="s.changeDay(3)">
      <label class="dayButton"  for="wednesday" class="dayLabel">Wednesday</label>
      <input type="radio" name="day" id="thursday" ng-click="s.changeDay(4)">
      <label class="dayButton"  for="thursday" class="dayLabel">Thursday</label>
      <input type="radio" name="day" id="friday" ng-click="s.changeDay(5)">
      <label class="dayButton"  for="friday" class="dayLabel">Friday</label>
      <input type="radio" name="day" id="saturday" ng-click="s.changeDay(6)">
      <label class="dayButton"  for="saturday" class="dayLabel">Saturday</label>
      <button class="dayButton" ng-click="s.nextWeek()">&gt</button>
    </fieldset>
  </div>

  <div class="scheduleTable" ng-show="s.date.getDay() != 0 && s.date.getDay() != 1">
    <h1> 10:00am - 2:00pm</h1>
    <table style="width:80%" class="lunchTable">
      <tr>
        <th width="25%"> Lunch </th>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[0]);">{{ s.lunchBooths[0].title}}</a><br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[0]);">{{s.lunchBooths[0].additionalText}}</a>
        </td>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[1]);">{{ s.lunchBooths[1].title}}</a><br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[1]);">{{s.lunchBooths[1].additionalText}}</a>
        </td>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[2]);">{{ s.lunchBooths[2].title}}</a><br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[2]);">{{s.lunchBooths[2].additionalText}}</a>
        </td>
      </tr>
    </table>
    <table style="width:80%" class="produceTable">
      <tr>
        <th width="25%"> Produce </th>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[0]);">{{ s.produceBooths[0].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[0]);">{{s.produceBooths[0].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[1]);">{{ s.produceBooths[1].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[1]);">{{s.produceBooths[1].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[2]);">{{ s.produceBooths[2].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[2]);">{{s.produceBooths[2].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[3]);">{{ s.produceBooths[3].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[3]);">{{s.produceBooths[3].additionalText}}</a>
        </td>
      </tr>
    </table>
    <table style="width:80%" class="MerchTable">
      <tr>
        <th width="25%"> Merchandise </th>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[0]);">{{ s.merchBooths[0].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[0]);">{{s.merchBooths[0].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[1]);">{{ s.merchBooths[1].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[1]);">{{s.merchBooths[1].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[2]);">{{ s.merchBooths[2].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[2]);">{{s.merchBooths[2].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[3]);">{{ s.merchBooths[3].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[3]);">{{s.merchBooths[3].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[4]);">{{ s.merchBooths[4].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[4]);">{{s.merchBooths[4].additionalText}}</a>
        </td>
      </tr>
    </table>
    <h1> 4:00pm - 8:00pm</h1>
    <table style="width:80%" class="lunchTable">
      <tr>
        <th width="25%"> Lunch </th>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[3]);">{{ s.lunchBooths[3].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[3]);">{{s.lunchBooths[3].additionalText}}</a>
        </td>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[4]);">{{ s.lunchBooths[4].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[4]);">{{s.lunchBooths[4].additionalText}}</a>
        </td>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[5]);">{{ s.lunchBooths[5].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[5]);">{{s.lunchBooths[5].additionalText}}</a>
        </td>
      </tr>
    </table>
    <table style="width:80%" class="produceTable">
      <tr>
        <th width="25%"> Produce </th>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[4]);">{{ s.produceBooths[4].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[4]);">{{s.produceBooths[4].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[5]);">{{ s.produceBooths[5].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[5]);">{{s.produceBooths[5].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[6]);">{{ s.produceBooths[6].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[6]);">{{s.produceBooths[6].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[7]);">{{ s.produceBooths[7].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[7]);">{{s.produceBooths[7].additionalText}}</a>
        </td>
      </tr>
    </table>
    <table style="width:80%" class="MerchTable">
      <tr>
        <th width="25%"> Merchandise </th>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[5]);">{{ s.merchBooths[5].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[5]);">{{s.merchBooths[5].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[6]);">{{ s.merchBooths[6].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[6]);">{{s.merchBooths[6].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[7]);">{{ s.merchBooths[7].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[7]);">{{s.merchBooths[7].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[8]);">{{ s.merchBooths[8].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[8]);">{{s.merchBooths[8].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[9]);">{{ s.merchBooths[9].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[9]);">{{s.merchBooths[9].additionalText}}</a>
        </td>
      </tr>
    </table>
  </div>

  <div class="scheduleTable" ng-show="s.date.getDay() == 0">
    <h1> 12:00pm - 4:00pm</h1>
    <table style="width:80%" class="lunchTable">
      <tr>
        <th width="25%"> Lunch </th>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[0]);">{{ s.lunchBooths[0].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[0]);">{{s.lunchBooths[0].additionalText}}</a>
        </td>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[1]);">{{ s.lunchBooths[1].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[1]);">{{s.lunchBooths[1].additionalText}}</a>
        </td>
        <td width="25%"> <a href ng-click="s.showDialog(s.lunchBooths[2]);">{{ s.lunchBooths[2].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.lunchBooths[2]);">{{s.lunchBooths[2].additionalText}}</a>
        </td>
      </tr>
    </table>
    <table style="width:80%" class="produceTable">
      <tr>
        <th width="25%"> Produce </th>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[0]);">{{ s.produceBooths[0].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[0]);">{{s.produceBooths[0].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[1]);">{{ s.produceBooths[1].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[1]);">{{s.produceBooths[1].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[2]);">{{ s.produceBooths[2].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[2]);">{{s.produceBooths[2].additionalText}}</a>
        </td>
        <td width="18.75%"> <a href ng-click="s.showDialog(s.produceBooths[3]);">{{ s.produceBooths[3].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.produceBooths[3]);">{{s.produceBooths[3].additionalText}}</a>
        </td>
      </tr>
    </table>
    <table style="width:80%" class="MerchTable">
      <tr>
        <th width="25%"> Merchandise </th>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[0]);">{{ s.merchBooths[0].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[0]);">{{s.merchBooths[0].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[1]);">{{ s.merchBooths[1].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[1]);">{{s.merchBooths[1].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[2]);">{{ s.merchBooths[2].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[2]);">{{s.merchBooths[2].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[3]);">{{ s.merchBooths[3].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[3]);">{{s.merchBooths[3].additionalText}}</a>
        </td>
        <td width="15%"> <a href ng-click="s.showDialog(s.merchBooths[4]);">{{ s.merchBooths[4].title}}</a> <br>
            <a href ng-click="s.unbookBoothDialog(s.merchBooths[4]);">{{s.merchBooths[4].additionalText}}</a>
        </td>
      </tr>
    </table>
  </div>

  <div ng-show="s.date.getDay() == 1">
    <h1 class="notOpenThisDay">The market is not open this day</h1>
  </div>
  <br>
  <br>
</div>
