
<div class="login">
  <div class="field" >
    Name:
  </div>
  <input id="name" type="text" name="name">
  <br>
  <div class="field" >
    Company:
  </div>
  <input id="company" type="text" name="company">
  <br>
  <div class="field" >
    Age:
  </div>
  <input id="age" type="text" name="age">
  <br>
  <div class="field" >
    Email:
  </div>
  <input id="email" type="text" name="email">
  <br>
  <div class="field" >
    Phone:
  </div>
  <input id="phone" type="text" name="phone">
  <br>
  <div class="field" >
    Address:
  </div>
  <input id="address" type="text" name="address">
  <br>


  <div class="field" >
    Username:
  </div>
  <input id="username" type="text" name="username">
  <br>
  <div class="field" >
    Password:
  </div>
  <input id="password" type="text" name="password">
  <br>
  <div class="field" >
    Confirm Password:
  </div>
  <input id="confirmPassword" type="text" name="confirmPassword">
  <br>
  <div class="field" >
    Account Type:
  </div>
  <input id="accountType" type="text" name="accountType">
  <br>


  <br>
  <a href="" ng-click="trySignup()">Signup Now!</a>

</div>
