body {
	width: 100%;
	height: 100%;
}

.header {
	display:table;	
}

#profilepic {
	display:table-cell;
	width:152px;
	height: 152px;
	border: 1px solid black;
	margin: 25px 10px 25px 10px;
	vertical-align: middle;
	float:left;
}

#username {
	font: inherit;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 50px;
	padding: 75px 20px 75px;
	height: 200px;
	float:right;
	display:table-cell;
}


#banner {
	position:absolute;
	z-index: -1;
}

.content {
	display:table;
	margin: 10px;
}	

#sidebar {
	width: 30%;
	float:left;
	display:table-cell;
}

#sidebar table, td, th {
	border-collapse: collapse;
	border: 1px solid black;	
}

#sidebar td, th {
	padding: 10px;
}

#sidebar th {
	text-align: center;
	vertical-align: middle;
}

#description {
	width: 70%;
	float: right;
	display:table-cell;
}