.login {
  text-align: center;
  color: black;
  background-color: #DDDDDD;
  padding: 20px;
  border-radius: 20px;
}

.login .field {
  padding: 20px 0 4px 0;
}

.login .inputDetailsText {
  height: 400px;
  width: 600px;
  padding: 10px;
  line-height: 2em;
  resize: none;
}

.login input {
  padding: 10px;
  height: 30px;
  width: 400px;
  color: black;
  font-weight: 900;
  background-color: white;
}

.login button {
  width: 200px;
  height: 30px;
}