<div>
  <div>
    <h1>Are you Sure you want to un-book This booth?</h1>
    <p>Any cancellation less than 24 hours
      prior their appointmentwill result in the vendor not being able to book another reservation for
      the next 48 hours. </p>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog(0)>No</button>
  	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-enter=confirm(1)  ng-click=confirm(1)>Yes</button>
    <br>
  </div>
</div>
